[submodule "libs/vkb"]
	path = libs/vkb
	url = https://github.com/Capati/odin-vk-bootstrap
	ignore = all
[submodule "libs/vma"]
	path = libs/vma
	url = https://github.com/Capati/odin-vma
	ignore = all
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/Capati/odin-imgui
	ignore = all
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
